body{
    margin:0%;
    background-color:black;
}


#volta{
  background-color:rgba(87, 86, 83, 0.611);
  width:100%;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.navbar {
  list-style-type:none;
  padding:1%;
  margin-left:18%;
  overflow:hidden;
  width:60%;
}
li.item-nav {
    float:left;
    margin:auto;
    padding-right:3%;
}
#logoblackfriday{
    height:100px;
    width:200px;
}
#logoloja{
    height:80px;
    width:190px;
}
#search{
    display:flex;
    flex-direction:row;
}
input{
    width:380px;
    height:35px;
    font-size:15px;
    padding-left:5%;
}
.material-icons{
    color:black;
}
#icones{
    display:flex;
}
.icons1e2:hover{
    background-color:white;
}
li.item-nav a {
  display:block;
  color:white;
  text-align:center;
  padding:5% 10px;
  text-decoration:none;
}
#borda2{
    height:50px;
    width:100%;
    background-color:rgba(87, 86, 83, 0.412);
}
#borda3{
    height:30px;
    width:100%;
    background-color:rgba(87, 86, 83, 0.145);
}


#pai{
    align-items:center;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}
#ladoimg{
    margin-right:2%;
    
}
#ladotexto{
    padding:2%;
    width:400px;
}
.txt{
    text-align:left;
    color:white;
}
h1{
    text-align:center;
    color:white;
}
.preçoinicial{
    font-size:22px;
    text-decoration:line-through;
    color:white;
}
.preço{
    font-size: 30px;
    font-weight: bold;
    color:red;
}
#botaocomprar{
    width:120px;
    height:40px;
}
button{
    font-size:25px;
}
.comprar{
    text-align: center;
    line-height: 0px;
}
a{
    text-align:left;
    color:black;
    text-decoration:none;
    font-size: 18px;
}

#mae{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#baixo{
    display:flex;
    flex-direction:row;
    width:80%;
    margin-top:5%;
    margin-bottom:10%;
}
#a{
    width:50%;
}
#b{
    width:30%;
    margin-right:5%;
}
#c{
    width:30%;
    margin-right:5%;
}
#d{
    width:30%;
}


#rodape{
    display:flex;
    background-color:rgba(87, 86, 83, 0.611);
    flex-direction:column;
    padding:1%;
    padding-bottom:0%;
    padding-top:0%;
}
#rodapecima{
    display:flex;
    flex-direction:column;
    margin-bottom:1%;
    align-items:center;
    justify-content: center;  
}
#bannerrodape{
    height:80px;
    width:190px;
}
#h2rodape{
    text-align:center;
    font-size:15px;
    color:black;
}
h2{
    text-align:center;
    color:black;
}
#menurodape{
    display:flex;
    flex-direction:row;
    width:80%;
}
.linksrodape{
    font-size:18px;
    text-decoration:none;
    text-align:center;
    color:black;
    margin:auto;
}
#rodapebaixo{
    display:flex;
    flex-direction:row;
    border-width:medium;
    border-top-style:solid;
    border-color:black;
}
#bannerdorodape{
    margin-top:1%;
}
#logosrodape{
    display:flex;
    flex-direction: column;
    margin-right:2%;
    margin-left:58%;
    margin-top:1%;
}
#plogo{
    margin:0%;
    font-size:15px;
    text-align:center;
}
#redesocial{
    margin:0%;
}
.logosrodape{
    height:30px;
    width:30px;
}